/*  Animate  */
body {
  margin: 0px;
  background: #fff;
  color: #222;
  /*font-family: 'Lato', 'ThaiSans Neue', sans-serif;*/
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.6em;
  -webkit-font-smoothing: antialiased;
  min-width: 1440px;
}
.clear {
  clear: both;
}
#pageHeader {
  color: #222;
}
#pageContent {
  padding: 0px 0px;
  margin: 0px auto;
  background: #fff;
  width: 960px;
  min-height: 200px;
  color: #222;
}
#pageContent .gae_manager_view-module_bar-left {
  float: left;
  background: #ff0000;
  text-align: left;
  padding: 0px;
  margin: 0px;
  min-height: 0px;
  overflow: hidden;
  display: none;
}
#pageContent .gae_manager_view-module_bar-right {
  float: right;
  background: #00ff00;
  text-align: right;
  padding: 0px;
  margin: 0px;
  min-height: 0px;
  overflow: hidden;
  display: none;
}
#pageContent .gae_manager_view-body {
  position: relative;
  padding: 0px;
  width: 960px;
  margin: 0px auto;
}
#pageContent .gae_manager_view-left {
  position: relative;
  padding: 0px;
  min-height: 0px;
  display: none;
  padding: 0px 0px;
  width: 210px;
  margin: 0px 8px;
}
#pageContent .gae_manager_view-right {
  position: relative;
  padding: 0px;
  min-height: 0px;
  display: none;
  padding: 0px 0px;
  width: 210px;
  margin: 0px 8px;
}
#pageContent .gae_manager_view-header {
  position: relative;
  padding: 0px;
  display: none;
}
#pageContent .gae_manager_view-footer {
  position: relative;
  padding: 0px;
  display: none;
}
#pageFooter {
  color: #222;
}
.user-interact-false {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
}
.btn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
}
.btn:focus {
  outline: 0;
}
.pre-complile {
  visibility: hidden;
  position: absolute;
  width: 0px;
  height: 0px;
}
.marginH20 {
  margin: 20px 0px;
}
#gea_manager_view-header-real_location {
  width: 100%;
  padding: 0px;
  margin: 0px;
  min-height: 0px;
  overflow: hidden;
}
#gae_manager_view-left-real_location {
  width: 225px;
  float: left;
  padding: 0px;
  margin: 0px;
  min-height: 0px;
  overflow: hidden;
}
#gae_manager_view-right-real_location {
  width: 225px;
  float: right;
  padding: 0px;
  margin: 0px;
  min-height: 0px;
  overflow: hidden;
}
#gea_manager_view-footer-real_location {
  width: 100%;
  padding: 0px;
  margin: 0px;
  min-height: 0px;
  overflow: hidden;
}
