<style>
  .formWarp{ max-width: 600px; margin: auto; }
  .formWarp textarea{ resize: vertical; min-height: 140px; }
  .gform-valid-msg{ color: red; margin: 0px 10px; }
  .gform-guideText-msg{ color: #999;} 
  .cg-notify-message{ width: 100%; }

  .pageFramePopup{ top: 0px; left: 0px; width: 100%; height: 100%; padding: 0px; margin: 0px; position: fixed; background:rgba(0,0,0,0.5); }
  .pageFramePopup .popupBody{ margin: 10px auto; top: 5%; position: relative; max-width: 580px; min-width: 320px; min-height: 140px; background: #fff;  }
</style>
  <div class="formWarp" ng-controller="pageFormCreateController" id="pageFormCreateController" >
    <form>
        <div class="form-group">
          <a href="#/">
            <button type="button" class="btn btn-default" aria-label="Left Align">
              <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Go back
            </button>
          </a>
        <div>
        <div class="form-group">
          <h2>Gaestaff create</h2>
        </div>

        <div  compile="gform.getFormInput('txt_display_name','Display name','input','text')"></div>
        <div  compile="gform.getFormInput('txt_first_name','Frist name','input','text')"></div>
        <div  compile="gform.getFormInput('txt_last_name','Last name','input','text')"></div>
        <div  compile="gform.getFormInput('txt_title','Title','textarea','text')"></div>
        <div  compile="gform.getFormInput('txt_description','Description','textarea','text','option')"></div>
        <div  compile="gform.getFormInput('txt_mobile_phone','Mobile Phone','input','text','option')"></div>
        <div style="height:20px;"></div>
        <div  compile="gform.getFormInput('txt_email','Email','input','email')"></div>
        <div  compile="gform.getFormInput('txt_password_str','Password','input','password')"></div>
        <div  compile="gform.getFormInput('txt_comfirm_pasword','Comfirm password','input','password')"></div>
        <input type="hidden" class="form-control" id="txt_hash_password" name="txt_hash_password" ng-model="form.txt_hash_password" >
        <div style="height:20px;"></div>
        <div class="form-group">
          <button type="button" class="btn btn-default" style="margin-right:20px;"  ng-click="submitBtnClicked()"><span class="glyphicon glyphicon-plus-sign"></span> Create</button>
          <button type="button" class="btn btn-default" ng-click="cancelBtnClicked()"><span class="glyphicon glyphicon glyphicon-eject"></span> Cancel</button>
        </div>
        <div style="height:50px;"></div>
    </form>
  <div>
</div>