.article_ele {
    border: 1px solid #FF8800;
    padding: 20px;
    margin: 20px;
}

.article_ele .description {
    border: 1px solid #f5f5f5;
    padding: 20px;
    margin: 20px;
    font-size: 16px;
    text-align: left;
}

.article_ele .example_data {
    border: 1px solid #f5f5f5;
    padding: 20px;
    margin: 20px;
    font-size: 16px;
}

.article_ele .example_data .label {
    color: #888;
    font-size: 14px;
}

.article_ele .example_data .value {
    color: #222;
    font-size: 14px;
}

.article_ele .example_data .hint {
    font-size: 16px;
    color: #00aa22;
}

.menu_link_div {
    text-align: center;
}

.menu_link_div .menu_btn {
    margin: 10px;
    font-size: 18px;
}

.mainmenu_addon {
    min-height: 175px;
}

#pageContent {
    padding: 20px 70px 20px 70px;
}

.top-navigation {
    width: 100%;
    margin-top: -75px;
}

.top-navigation > div {
    float: left;
}

.top-navigation > div + div {
    text-align: center;
}

.top-navigation > div + div + div {
    float: right;
    text-align: right;
}

.btn-add {
    padding: 4px 30px !important;
    background: #089E62;
    color: white;
    border: 0px;
    border-radius: 20px;
    outline: 0px;
    font-size: 15px;
    margin-right: 5px;
    margin-top: -4px;
}

.btn-add:hover {
    background-color: #ff5000 !important;
    text-decoration: none;
    color: white;
}

.new-search-btn {
    float: right;
    margin-right: -85px;
    margin-top: -7px;
    border: 1px solid #646464;
    background: inherit;
    color: #fff;
    border-radius: 20px;
    height: 35px;
    font-size: 14px !important;
    outline: 0px !important;
    width: 250px;
    padding: 10px;
    text-align: center;
}

.btn-cancle {
    padding: 4px 30px;
    background: inherit;
    font-weight: 300;
    border: 0px;
    border-radius: 20px;
    outline: 0px;
    font-size: 14px;
    margin-right: 5px;
    border: 1px solid #888888;
    color: #888888 !important;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.btn-cancle:hover {
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    background-color: #ff5000 !important;
    text-decoration: none;
}

.topic-page {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5em;
    color: #ff5000;
    font-weight: normal;
}

/* add page */
.main-container {
    width: 900px;
    position: relative;
    height: auto;
    margin: 0 auto;
    margin-top: 40px;
}

.add {
    min-height: 700px;
}

.add .form-control {
    margin-top: 8px;
}

.require-field {
    color: #ff5000;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.non-require-field {
    color: #333;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.desc-field {
    color: #333;
    font-family: Thonburi;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 10px;
}

#customer-selected-list .col-md-1 {
    margin-top: 35px;
}

.customer-selected-box {
    height: 104px;
    background-color: whitesmoke;
    border-radius: 5px;
    margin-top: 35px;
    padding-top: 10px;
}

.customer-selected-box .name {
    height: 24px;
    color: #333;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.customer-selected-box .username {
    height: 24px;
    color: #666;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.circle-size-80 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #dadada;
}

.circle-size-80 img {
    max-height: 80px;
    height: 80px;
    width: auto;
    border-radius: 50%;
}

.btn-circle-gray {
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    outline: 0px;
    border: 0px;
    background-color: #eee;
    color: #aaa;
    margin: 0 5px;
    padding-top: 10px;
    padding-left: 12px;
}