.article_ele {
    border: 1px solid #FF8800;
    padding: 20px;
    margin: 20px;
}

.article_ele .description {
    border: 1px solid #f5f5f5;
    padding: 20px;
    margin: 20px;
    font-size: 16px;
    text-align: left;
}

.article_ele .example_data {
    border: 1px solid #f5f5f5;
    padding: 20px;
    margin: 20px;
    font-size: 16px;
}

.article_ele .example_data .label {
    color: #888;
    font-size: 14px;
}

.article_ele .example_data .value {
    color: #222;
    font-size: 14px;
}

.article_ele .example_data .hint {
    font-size: 16px;
    color: #00aa22;
}

.menu_link_div {
    text-align: center;
}

.menu_link_div .menu_btn {
    margin: 10px;
    font-size: 18px;
}

.mainmenu_addon {
    min-height: 175px;
}

#pageContent {
    padding: 20px 70px 20px 70px;
}

.top-navigation {
    width: 100%;
    margin-top: -75px;
}

.top-navigation > div {
    float: left;
}

.top-navigation > div + div {
    text-align: center;
}

.top-navigation > div + div + div {
    float: right;
    text-align: right;
}

.btn-add {
    padding: 4px 30px !important;
    background: #089E62;
    color: white;
    border: 0px;
    border-radius: 20px;
    outline: 0px;
    font-size: 15px;
    margin-right: 5px;
    margin-top: -4px;
}

.btn-add:hover {
    background-color: #ff5000 !important;
    text-decoration: none;
    color: white;
}

.new-search-btn {
    float: right;
    margin-right: -85px;
    margin-top: -7px;
    border: 1px solid #646464;
    background: inherit;
    color: #fff;
    border-radius: 20px;
    height: 35px;
    font-size: 14px !important;
    outline: 0px !important;
    width: 250px;
    padding: 10px;
    text-align: center;
}

.btn-cancle {
    padding: 4px 30px;
    background: inherit;
    font-weight: 300;
    border: 0px;
    border-radius: 20px;
    outline: 0px;
    font-size: 14px;
    margin-right: 5px;
    border: 1px solid #888888;
    color: #888888 !important;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.btn-cancle:hover {
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    background-color: #ff5000 !important;
    text-decoration: none;
}

.topic-page {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5em;
    color: #ff5000;
    font-weight: normal;
}

/* add page */
.main-container {
    width: 900px;
    position: relative;
    height: auto;
    margin: 0 auto;
    margin-top: 40px;
}

.main-container input:focus, .main-container select:focus, .main-container textarea:focus {
    box-shadow: none;
    border: 2px solid #ff5000;
}

.add {
    min-height: 700px;
}

.add .form-control {
    margin-top: 8px;
}

.require-field {
    color: #ff5000;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.non-require-field {
    color: #333;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.desc-field {
    color: #333;
    font-family: Thonburi;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 10px;
}

#customer-selected-list .col-md-1 {
    margin-top: 35px;
}

.customer-selected-box {
    height: 104px;
    background-color: whitesmoke;
    border-radius: 5px;
    margin-top: 35px;
    padding-top: 10px;
}

.customer-selected-box .name {
    height: 24px;
    color: #333;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.customer-selected-box .username {
    height: 24px;
    color: #666;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.circle-size-80 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #dadada;
}

.circle-size-80 img {
    max-height: 80px;
    height: 80px;
    width: auto;
    border-radius: 50%;
}

.btn-circle-gray {
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    outline: 0px;
    border: 0px;
    background-color: #eee;
    color: #aaa;
    margin: 0 5px;
    padding-top: 10px;
    padding-left: 12px;
}

/* listing page */
.col-lg-12 {
    padding-left: 7px;
    padding-right: 7px;
}

body {
    margin: 0;
    outline: 0;
    border: 0;
    font-size: 16px;
    font-weight: normal;
    color: #454547;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #ffffff;
    background-size: 100%;
    position: relative;
    height: 100%;
}

.customer-list {
    clear: both;
    margin-top: 15px;
}

.customer-filter {
    margin-top: 10px;
}

.customer-filter .col-sm-6 {
    text-align: right;
}

.customer-filter > div + div, .customer-filter > div + div + div {
    color: #ff7522;
}

.customer-limit {
    margin-top: 10px;
}

.customer-table {
    margin-top: 10px;
}

table.table {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
}

.tbl-restyled {
    width: 100%;
    height: auto;
    position: relative;
    font-size: .9em;
    border: 0px !important;
}

.circle-small-warning {
    background-color: inherit;
    border: 0px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    outline: 0px;
    border: 1px solid #c8c8c8;
    background-color: white;
    color: white;
    margin: 9px 7px 0 0;
    float: left;
}

.table > thead:first-child > tr:first-child > th {
    color: #666;
    font-weight: bold;
    font-size: 13px;
    vertical-align: middle;
}

.circle-small-warning:hover {
    background-color: #ff3500;
}

.circle-small-warning .glyphicon {
    font-size: .9em;
    margin-left: -0.1em;
}

.tbl-restyled tbody tr td {
    border: 0px solid !important;
    padding-top: 7px;
    background-color: white !important;
    border-left: 0px !important;
    border-right: 0px !important;
    line-height: 2.5em;
    font-size: 1.2em;
}

.tbl-restyled tbody tr td .xChoose .glyphicon {
    position: relative;
    top: -8px;
    left: -1px;
}

.datatable tbody {
    font-size: 12px;
}

.tbl-restyled tbody tr {
    padding-bottom: 10px;
    border: 0px !important;
    border-bottom: 1px solid #E4E2E2 !important;
}

.tag-group-name {
    background-color: #333333;
    width: 70%;
    color: white;
    text-align: center;
    height: 26px;
    border-radius: 20px;
    line-height: 2.4em;
    font-weight: 300;
    font-size: .8em;
}

.tag-customer {
    clear: both;
    color: #ff5000;
    font-size: .85em;
}

.tag-customer .list {
    text-decoration: underline;
    display: inline;
    margin-left: 5px;
    padding-bottom: 3px;
}

.btn-edit {
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eee;
    margin: 5px 5px;
    padding: 3px;
    color: #ffad00;
}

.btn-edit:hover {
    background-color: #9c5000;
    color: #ffad00;
}

.btn-edit:active {
    background-color: #ff5000;
}

.active-discount {
    background-color: #ff3500;
    border: 1px solid #ff3500;
}

.circle-size-80 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #dadada;
}

.circle-size-80 img {
    max-height: 80px;
    height: 80px;
    width: auto;
    border-radius: 50%;
}

.circle-size-100 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #dadada;
}

.circle-size-100 img {
    max-height: 100px;
    height: 100px;
    width: auto;
    border-radius: 50%;
}

div.dataTables_info {
    padding-top: 8px;
}

.dataTables_info {
    clear: both;
    float: left;
}

div.dataTables_paginate {
    float: right;
    margin: 0;
    margin-right: 8px;
}

.dataTables_paginate {
    float: right;
    text-align: right;
}

div.dataTables_paginate ul.pagination {
    margin: 2px;
}

.pagination {
    font-family: sans-serif;
    font-size: 11px;
    font-weight: 100 !important;
}

.pagination > .active > a {
    border-color: white;
    background-color: #FCD4AF !important;
    color: #490303 !important;
}

.pagination > li > a, .pagination > li > span {
    background-color: #ff7217 !important;
    color: white !important;
    font-weight: 100;
    font-family: sans-serif;
    margin: 0 2px 02px;
    border: 0px;
    border-radius: 5px;
}

.no-cusotmer {
    margin-top: 45px;
    text-align: center;
    height: 300px;
}

.no-cusotmer img {
    width: 130px;
}

.no-cusotmer > div > div {
    height: 22px;
    color: #ff8300;
    font-family: Thonburi;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin-top: 30px;
}

/* detail pagg */
.group-info {
    margin-top: 30px;
    margin-bottom: 30px;
}

.group-name {
    height: 45px;
    color: #333;
    font-family: "Source Sans Pro";
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
}

.group-customers {
    height: 30px;
    color: #333;
    font-family: "Source Sans Pro";
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

.group-description {
    height: 24px;
    color: #666;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.detail-complete-order {
    width: 215px;
    height: 120px;
    background-color: #7ed321;
    border-radius: 20px;
    padding-top: 12px;
}

.detail-complete-order > div:first-child {
    height: 27px;
    color: black;
    font-family: "Source Sans Pro";
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
}

.detail-complete-order > div + div {
    height: 40px;
    color: white;
    font-family: "Source Sans Pro";
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
}

.detail-complete-order > div + div + div {
    height: 24px;
    color: #666;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}