<div class="padding32"></div>
<div class="fill-container">
	<div class="middle">
		<div class="txt">FL</div>
	</div>
	<div class="padding41"></div>
	<div class="dx-text orange">All your stores</div>
	<div class="dx-text white">รายการร้านค้าทั้งหมดที่ท่านเป็นเจ้าของหรือผู้ดูแล</div>
	<div class="padding24"></div>
	<div class="box-3-container">
		<div class="box-each">
			<div class="in-container">
				<div class="circle">
					<span>g2</span>
				</div>
			</div>
			<div class="in-container">g1 Store</div>
			<div class="in-container">
				<div class="marble-container">
					<div class="marble-item"></div>
					<div class="marble-item"></div>
					<div class="marble-item"></div>
					<div class="marble-item"></div>
					<div class="marble-item"></div>
					<div class="marble-item"></div>
				</div>
			</div>
		</div>
		<div class="box-each">
			<div class="in-container">
				<div class="circle">
					<span>g2</span>
				</div>
			</div>
			<div class="in-container">g2 Store</div>
			<div class="in-container">
				<div class="marble-container">
					<div class="marble-item"></div>
					<div class="marble-item"></div>
					<div class="marble-item"></div>
					<div class="marble-item"></div>
					<div class="marble-item"></div>
					<div class="marble-item"></div>
				</div>
			</div>
		</div>
		<div class="box-each">
			<div class="in-container">
				<div class="circle">
					<span>g2</span>
				</div>
			</div>
			<div class="in-container">g3 Store</div>
			<div class="in-container">
				<div class="marble-container">
					<div class="marble-item"></div>
					<div class="marble-item"></div>
					<div class="marble-item"></div>
					<div class="marble-item"></div>
					<div class="marble-item"></div>
					<div class="marble-item"></div>
				</div>
			</div>
		</div>
	</div>
</div>